@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@700&display=swap');
@import 'mixins';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #333333;

  &__title {
    margin-bottom: 54px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.045em;

    cursor: pointer;
  }
}

.tab {
  display: flex;
  width: 100%;
  justify-content: space-around;
  // padding-bottom: 15px;
  margin-bottom: 18px;

  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #bdbdbd;
  }

  &__title {
    // display: block;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 30px;

    cursor: pointer;

    border: none;
    background-color: transparent;

    &:hover::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      content: '';
      width: 100%;
      background-color: #2f80ed;
      border-radius: 4px 4px 0px 0px;
    }

    &--active::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      content: '';
      width: 100%;
      background-color: #2f80ed;
      border-radius: 4px 4px 0px 0px;
    }
  }
}

.input-container {
  width: 100%;
  display: flex;

  margin-bottom: 30px;

  &__field {
    width: 100%;
    padding-left: 12px;

    border: 1px solid #bdbdbd;
    border-radius: 12px;

    font-weight: 400;
    font-size: 14px;

    color: #828282;
  }

  &__button {
    padding: 20px 40px;
    margin-left: 25px;

    background-color: #2f80ed;
    box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
    border: none;
    border-radius: 12px;

    font-weight: 600;
    font-size: 14px;

    color: #ffffff;

    cursor: pointer;
  }
}

.checkbox {
  width: 100%;
  align-self: flex-start;
  position: relative;

  &__field {
    padding: 0;
    margin: 0;
  }

  &__box {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 26px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  &__type {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;

    color: #000000;
  }

  &__type:checked + &__title {
    text-decoration: line-through;
  }

  &__delete {
    width: 25px;
    filter: invert(92%) sepia(0%) saturate(0%) hue-rotate(242deg) brightness(83%) contrast(90%);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__button {
    position: absolute;
    bottom: -60px;
    right: 0;

    display: flex;
    align-items: center;
    padding: 12px 26px;

    border: none;
    border-radius: 4px;
    background-color: #eb5757;

    font-weight: 600;
    font-size: 12px;

    color: #ffffff;

    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    &--img {
      width: 15px;
      filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(36deg) brightness(107%)
        contrast(105%);
      margin-right: 5px;
    }
  }
}
